<a href="https://colab.research.google.com/github/ibrahimsm83/OOAD/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("Hello world")

Hello world

In [6]:
x=4

y=x+5
print(y)

9

In [7]:
print(x,y)

4 9

In [13]:
#x=input("Enter num1=: ")
#y=input("Enter num2=: ")
x=7
y=8
sum=x+y
sub=x-y
mul=x*y
div=x/y
print(sum)
print(sub)
print(mul)
print(div)

15
-1
56
0.875

In [15]:
n=input("Name :\t")
age=input("Age : \t")
edu=input("edu :\t")
print("My Name is:\t ",n)
print("My Age is \t",age)
print("Education is:\t ",edu)

Name :	ibrahim
Age : 	20
edu :	phd
My Name is:	  ibrahim
My Age is 	 20
Education is:	  phd

In [20]:
print("N\t\tN")
print("N N\t\tN")
print("N  N\t\tN")
print("N    N\tN\tN")
print("N      N\t\tN")
print("N\t\tN")

N		N
N N		N
N  N		N
N	N	N
N		N
N		N

In [ ]:
x=input("no :\t")
y=int(x)*int(x)
print("Square is :\t",y)